%table
  %tr
    %td
      = @article.title 
      %br
      %h7= @article.created_at.strftime("%d %b %Y %H:%M")
      %br
      = image_tag ('1.png')
      %br
      %h7= 'written by ' + @article.author.username
      - if logged_in? 
        %br
        = link_to image_tag( 'delete.png' ), article_path(@article),confirm: "Are You Sure?", method: :delete
        = link_to image_tag( 'edit.png' ), edit_article_path(@article)
    %td 
      = @article.body
  %tr
    %td
    %td= @article.author.username 

%hr
.bubble-list
  - @article.comments.each do |comment|
    .bubble.clearfix
      =image_tag('commenter.png')
      .bubble-content
        %h7= comment.author + ' said:'
        %br
        %h7= comment.body
  

#stylized.comment_form
  = form_for([@article, @article.comments.build]) do |f|

    %p
      = f.text_field :author, :value => 'your name'
    %p
      = f.text_area :body, :value => 'your comment'
    %p
      = f.submit



