!!!
%html
  %head
    %title SITHLORD.PL | JOIN THE DARK SIDE
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 
    %h2
      = link_to "HOME", articles_path
      |
      = link_to "CONTACT", '/contact'
      |
      = link_to "ABOUT", authors_path
      
      - if logged_in?
        |
        = link_to "NEW ARTICLE", new_article_path
        |
        = link_to "LOGOUT", logout_path
  %br
    #container
      #content
        = yield
        %br
        %hr
          %h6
            = link_to image_tag( 'github.jpg'), 'http://www.github.com/sebmar/basz'
            = link_to image_tag( 'fb.png'), 'https://www.facebook.com/sebastian.martenka'
            = link_to image_tag( 'mail.png' ), 'mailto:sebmar1992@gmail.com'
          %h6
            - if logged_in?
              = "Logged in as #{current_user.username}"
            - else
              = link_to "[login]", login_path
            /= link_to "[search by tags]", tags_path
          %h5 
            = 'Powered by'
            = link_to 'Ruby on Rails', 'http://rubyonrails.org/'
  = render 'layouts/google' if Rails.env.production? 
